body{background-color:#66BFBF;
 }
hr{background-color:#66BFBF;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 100px;
}
.profession{color:red;}
.hobbies:hover{color:gold;}
.name{color:red}
